#cadastro-btn{
    margin-left: 2rem;
    font-size: 200%;
    margin-bottom: 2rem;
}

table{
    margin-left: 1rem;
    width: 98%;
}

.opcFISICA {
    color: #1304b6;
  }
  
  .opcJURIDCA {
    color: rgb(0, 95, 41);
  }