#cadastro-btn{
    margin-left: 2rem;
    font-size: 200%;
    margin-bottom: 3rem;
}

table{
    margin-left: 1rem;
    width: 98%;
}

.opcFISICA {
    color: rgba(0, 0, 93, 0.701);
  }
  
  .opcJURIDCA {
    color: rgba(255, 0, 0, 0.685);
  }